@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}

.gradient {
  background: linear-gradient(to right, #24daee, #3671d8, #ae36dd, #9145b4);
}

